.bold{
    font-weight: bold;
}
.center {
    text-align: center;
}
header, .row {
    display: flex;
}
.col {
    flex: 1;
    padding-bottom: 20px;
    text-align: center;
}
.small {
    font-size: 7px;
    border-top: 2px solid black;
    text-align: center;
    margin-right: 250px;
    margin-left: 250px;
}
.regular {
    flex: 1;
    text-align: left;
    font-size: 10px;
    border-bottom: 2px solid black;
    margin-right: 750px;
    margin-left: 250px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 1px;
}
.first-table, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.table-wrapper {
  display: flex;
  justify-content: center;
  min-height: 50px;
}
.blank-box {
    border: 1px solid black;
    width: 200px;
    height: 50px;
}
.ignore-box {
    border: none;
    width: 200px;
    height: 50px;
}
td{
    justify-content: center;
    border-bottom: 1px solid black;
    text-align: left;
    padding-right: 840px;
    padding-top: 30px;
}

